# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
name: Build and deploy Node.js project to Azure Function App - extincor-pdf-fn

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  NODE_VERSION: '18.x'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install deps
        shell: pwsh
        run: npm ci

      - name: Install Playwright Chromium (packaged)
        shell: pwsh
        env:
          PLAYWRIGHT_BROWSERS_PATH: .pw-browsers
        run: npm exec -- playwright install chromium



      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            host.json
            package.json
            package-lock.json
            GeneratePdf/**
            node_modules/**
            .pw-browsers/**

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'extincor-pdf-fn'
          slot-name: 'Production'
          package: '.'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4717CED1617D4ECBA56875B3D9156A43 }}
          scm-do-build-during-deployment: false
          enable-oryx-build: false


